<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="KhoChungEntities" connectionString="metadata=res://*/KhoChung.KhoChungModel.csdl|res://*/KhoChung.KhoChungModel.ssdl|res://*/KhoChung.KhoChungModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BV304;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KhoEntities" connectionString="metadata=res://*/Kho.KhoModel.csdl|res://*/Kho.KhoModel.ssdl|res://*/Kho.KhoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BV304.KHO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HSKBEntities" connectionString="metadata=res://*/HoSoKhamBenh.Model1.csdl|res://*/HoSoKhamBenh.Model1.ssdl|res://*/HoSoKhamBenh.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BV304;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>